/* Colors */
$gray-super-lightest: #f7f7f7;
$gray-lightest: #f1f1f3;
$gray-lighter: #e1e1e3;
$gray-light: #a5a6aa;
$gray: #6c6d73;
$gray-dark: #494a4e;
$gray-darker: #313234;
$gray-darkest: #1d1d1f;

$blue-lightest: #A7B8D0;
$blue-lighter: #587CAC;
$blue: #33609E;
$blue-dark: #104894;
$blue-darkest: #083779;

$green-lightest: #ACDBBA;
$green-lighter: #5AC079;
$green: #2EB256;
$green-dark: #04A635;
$green-darkest: #008829;

$yellow-lightest: #FFEBC9;
$yellow-lighter: #FFCC77;
$yellow: #F0AE3F;
$yellow-dark: #E18F06;
$yellow-darkest: #B87300;

$red-lightest: #FFD0C9;
$red-lighter: #FF8A77;
$red: #F0573F;
$red-dark: #E12406;
$red-darkest: #B81900;

/* Other */
$border-radius: 2px;