<div class="row">
  <div class="large-12 columns">
    {{partial "shared/header"}}

    <div class="row">
      <div class="large-12.columns">
        <h1 id="title">TimeKeeper</h1>
      </div>
    </div>

    {{outlet}}
  </div>
</div>